<!-- Hero main section -->
<section class="hero">
  <div
    class="container mx-auto flex px-5 py-14 md:flex-row flex-col items-center justify-center"
  >
    <div class="xl:max-w-3/4 md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img
        src="/public/img/hero.png"
        alt="sport athelete running forward"
      />
    </div>
    <div
      class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center"
    >
      <h2
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        Super value deals at an affordable price
      </h2>
      <p class="mb-8 leading-relaxed text-2xl">
        On all Sports Accessories save more with coupons upto 40% off!
      </p>
      <p class="mb-8 leading-relaexed">
        At GearX, we're committed to excellence in every product we offer. Our
        sports accessories are crafted from premium materials and undergo
        rigorous testing to ensure superior performance, reliability, and
        longevity. We believe that when you invest in quality gear, you're
        investing in your success
      </p>
      <button type="button">
        <a
          href="/shop"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 mr-2 -ml-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
            ></path>
          </svg>
          Shop now
        </a>
      </button>
    </div>
  </div>
</section>

<!-- Banner for Smartwatch -->
<div class="offer">
  <div class="small-container">
    <div class="pro-row">
      <div class="offer-col">
        <img
          src="/public/img/smartwatch.png"
          class="offer-img"
        />
      </div>
      <div class="offer-text">
        <p>Exclusively Available on GearX</p>
        <h1>Fossil Digital Black Dial Men's Watch-FTW4062</h1>
        <br />
        <!-- <a href="" class="btn">Buy Now &#8594; </a> -->
        <button
          type="button"
          class="text-white btn-primary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5 mr-2 -ml-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
            ></path>
          </svg>
          Buy now
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Smartwatch feature image banner -->
<div class="fea-banner">
  <img
    src="/public/img/smartwatchbanner.jpeg"
    alt=""
  />
</div>
