// $grey-shade: #333;
// $large-txt: #a2a2a2;
// $medium-txt: #ca5401;
// $small-txt: #bbbbbb;
// $loading-bg: #16191e;
// $footer-bg: #24262b;
// $title-ud: #e91e63;
// $insta-color: linear-gradient(
//   200deg,
//   hsl(240, 46%, 49%) 30%,
//   hsl(55deg 100% 50%) 100%
// );
// $float: translateY(-10%);
// $tm-bg: rgb(139, 195, 191);
// $tm-btn-hvr: rgb(203, 182, 226);
// $secondary-txt: rgb(139, 95, 191);

// Colors
$primary: #fe5f1e;
$primary-hover: #b23301;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$hero-color: #edefec;
$footer-bg: #24262b;
$scrollbar-width: 0px;

// Transition
$smooth: all 0.3s ease-in-out;
